### Basic EDA with Pandas

##### Bagaimana merekomendasikan hotel terbaik di suatu kota/provinsi?

In [2]:
# Kita import library pandas
import pandas as pd

In [3]:
# baca file csv dengan pandas
DataFrame = pd.read_csv('Day 3\Week1_Travel.csv')

In [4]:
# Lihat data
DataFrame

,additional_info,address,area,city,country,crawl_date,guest_recommendation,hotel_brand,hotel_category,hotel_description,...,room_count,room_facilities,room_type,similar_hotel,site_review_count,site_review_rating,site_stay_review_rating,sitename,state,uniq_id
0,Room Service|Internet Access|Restaurant|Free I...,"15th Mile, N.H.21,Manali, District Kullu,Himac...",Others,Manali,India,2016-07-24,85.0,NaN,gostays,The standard check-in time is 12:00 PM and the...,...,17,Room Service |Basic Bathroom Amenities|Cable /...,Deluxe Room,https://www.goibibo.com/hotels/woodchime-homes...,87.0,4.0,Service Quality::3.9|Amenities::3.7|Food and D...,goibibo,Himachal Pradesh,2c8db027d43a9452a43e88eb30d9f983
1,Room Service|Gym/Spa,"A-585, Sushant Lok-1 ,Near Iffco Chowk Metro S...",Sushant Lok,Gurgaon,India,2016-07-24,87.0,NaN,regular,The standard check-in time is 12:00 PM and the...,...,18,Room Service |Air Conditioning |Basic Bathroom...,Deluxe Room With Free WIFI,https://www.goibibo.com/hotels/stepinn-iffco-c...,8.0,4.5,Service Quality::4.7|Amenities::4.7|Food and D...,goibibo,Haryana,e98f69f889c0235e6dc480e7df6de0de
2,Restaurant|Swimming Pool,"Cobra Vaddo,Calungate Baga Road, Bardez, Calan...",Calangute Area,Goa,India,2016-07-24,50.0,NaN,regular,The standard check-in time is 12:00 PM and the...,...,15,Room Service |Air Conditioning |Cable / Satell...,Standard Room,https://www.goibibo.com/hotels/sunrise-beach-r...,2.0,2.5,Service Quality::2.5|Amenities::2.5|Food and D...,goibibo,Goa,9b59d00eaffc273d83000ed7dcda0e83
3,NaN,Simsa,Village Simsa,Manali,India,2016-07-24,100.0,NaN,regular,The standard check-in time is 12:00 PM and the...,...,24,Basic Bathroom Amenities|Cable / Satellite / P...,Deluxe Room,https://www.goibibo.com/hotels/green-cottages-...,1.0,5.0,Service Quality::5.0|Amenities::5.0|Food and D...,goibibo,Himachal Pradesh,df0971f9c5501af112485ee28b468ce5
4,Internet Access|Restaurant,"8180 Street No.-6,Arakashan Road,Paharganj",Paharganj,Delhi,India,2016-07-24,63.0,NaN,regular,The standard check-in time is 12:00 PM and the...,...,20,Basic Bathroom Amenities|Cable / Satellite / P...,Standard Room Non AC,https://www.goibibo.com/hotels/delhi-continent...,121.0,2.8,Service Quality::2.7|Amenities::2.6|Food and D...,goibibo,Delhi,0c3514344c9cda8718f558e84bdb44ef
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,Room Service,"Vijayvargiya Tower,Tower Chowk, Ujjain (M.P.)",Freeganj Area,Ujjain,India,2016-06-26,NaN,NaN,regular,The standard check-in time is 12:00 PM and the...,...,10,NaN,Two bed AC Room,https://www.goibibo.com/hotels/avantika-hotel-...,NaN,NaN,Service Quality::|Amenities::|Food and Drinks:...,goibibo,Madhya Pradesh,9e59170d5f79ebb7b590ed339e3762a4
3996,Room Service,"Anjali Circle ,Opposite Petrol Pump,Vasna Road",Ellis Bridge Area,Ahmedabad,India,2016-06-26,NaN,NaN,regular,The standard check-in time is 02:00 PM and the...,...,12,Room Service |Air Conditioning |Basic Bathroom...,Non AC Room,https://www.goibibo.com/hotels/heritage-hotel-...,NaN,NaN,Service Quality::|Amenities::|Food and Drinks:...,goibibo,Gujarat,c0f3e4dac166df972277c86243b27560
3997,Room Service|Restaurant,"Marol Maroshi Road, Near To Marol naka FireBri...",Andheri,Mumbai,India,2016-06-26,83.0,NaN,regular,The standard check-in time is 12:00 PM and the...,...,41,Air Conditioning |Cable / Satellite / Pay TV a...,Gold Room,https://www.goibibo.com/hotels/marigold-reside...,77.0,4.0,Service Quality::3.9|Amenities::3.8|Food and D...,goibibo,Maharashtra,38b95f3e67046131254d3e2106b9d8fa
3998,Room Service,"Station Road, B Deoghar Ho, Deoghar Jharkhand",Railway Station Road,Deoghar,India,2016-06-26,NaN,NaN,regular,The standard check-in time is 02:00 PM and the...,...,4,Room Service |Air Conditioning |Alarm Clock|Ba...,AC DELUXE ROOM,https://www.goibibo.com/hotels/yashoda-interna...,NaN,NaN,Service Quality::|Amenities::|Food and Drinks:...,goibibo,Jharkhand,eb8597d68508134dedc811c2a4fc42b4
3999,Room Service|Restaurant,"N.H 6, A.Katapali, Near Gosala",Katapali,Sambalpur,India,2016-06-26,50.0,NaN,regular,The standard check-in time is 10:00 AM and the...,...,8,Room Service |Basic Bathroom Amenities| Hot / ...,Deluxe AC Room,https://www.goibibo.com/hotels/ashoka-hotel-ho...,2.0,4.3,Service Quality::4.3|Amenities::4.3|Food and D...,goibibo,Orissa,ae587589415630183abc91d5f2fd3de4

##### 1. Cari tau jumlah baris dan jumlah kolomnya

In [5]:
df_shape = pd.DataFrame([DataFrame.shape], columns=['Jumlah Baris',"Jumlah Kolom"])
df_shape

   Jumlah Baris  Jumlah Kolom
0          4000            36

In [6]:
# Kalau mengambil sample
DataFrame.sample(5)

,additional_info,address,area,city,country,crawl_date,guest_recommendation,hotel_brand,hotel_category,hotel_description,...,room_count,room_facilities,room_type,similar_hotel,site_review_count,site_review_rating,site_stay_review_rating,sitename,state,uniq_id
705,Room Service,nangal road near durga bhawan kashmir road,Others,Katra,India,2016-08-07,NaN,NaN,regular,The standard check-in time is 12:00 PM and the...,...,25,Room Service |Alarm Clock|Basic Bathroom Ameni...,delux room,https://www.goibibo.com/hotels/kapoor-palace-h...,NaN,NaN,Service Quality::|Amenities::|Food and Drinks:...,goibibo,Jammu and Kashmir,b6c3b40c9dc6c82d9d78099d5ac2958b
1144,Room Service|Internet Access|Gym/Spa|Restauran...,Gorishola Road,Doddabetta Junction,Ooty,India,2016-07-03,73.0,Sinclairs Group of Hotels,regular,The standard check-in time is 12:00 PM and the...,...,49,Room Service |Bathrobe (on request) |Basic Bat...,Deluxe Room,https://www.goibibo.com/hotels/glen-park-inn-h...,273.0,4.2,Service Quality::4.2|Amenities::4.1|Food and D...,goibibo,Tamil Nadu,e4d6d80588193e09bf7861d2234b266d
2924,Room Service|Restaurant,"College Road, Palghar West, Kharal Pada",Kelve Tal,Palghar,India,2016-06-26,NaN,NaN,regular,The standard check-in time is 12:00 PM and the...,...,7,Alarm Clock|Basic Bathroom Amenities,Standard,https://www.goibibo.com/hotels/sai-residency-h...,NaN,NaN,Service Quality::|Amenities::|Food and Drinks:...,goibibo,Maharashtra,6618811ef97b6a7e3acc1f99ca862895
317,Room Service|Internet Access|Free Internet,"House no-303, Curca canturlim, near the Curca ...",Panjim Area,Goa,India,2016-07-24,NaN,NaN,regular,The standard check-in time is 12:00 PM and the...,...,1,Room Service |Alarm Clock|Basic Bathroom Ameni...,Deluxe 2 bedroom villa,https://www.goibibo.com/hotels/bambolim-beach-...,NaN,NaN,Service Quality::|Amenities::|Food and Drinks:...,goibibo,Goa,59edb72f2410b368ad2daa93a55fe779
3968,Room Service|Internet Access|Restaurant|Free I...,"N 2 Sector New Digha, By Pass Road Digha, 7214...",New Digha,Digha,India,2016-06-26,100.0,NaN,regular,The standard check-in time is 10:30 AM and the...,...,40,Room Service |Air Conditioning |Basic Bathroom...,Deluxe Dobule Room Ac,https://www.goibibo.com/hotels/tajpur-retreat-...,1.0,2.0,Service Quality::2.0|Amenities::2.0|Food and D...,goibibo,West Bengal,ede533a4158d28228abe66171b8c2f80

In [7]:
# .dtypes untuk melihat tipe datanya
DataFrame.dtypes

additional_info              object
address                      object
area                         object
city                         object
country                      object
crawl_date                   object
guest_recommendation        float64
hotel_brand                  object
hotel_category               object
hotel_description            object
hotel_facilities             object
hotel_star_rating             int64
image_count                   int64
latitude                    float64
locality                     object
longitude                   float64
pageurl                      object
point_of_interest            object
property_id                  object
property_name                object
property_type                object
province                     object
qts                          object
query_time_stamp             object
review_count_by_category     object
room_area                    object
room_count                    int64
room_facilities              object
room_type                    object
similar_hotel                object
site_review_count           float64
site_review_rating          float64
site_stay_review_rating      object
sitename                     object
state                        object
uniq_id                      object
dtype: object

In [8]:
# Karena ngga semuanya muncul kita buat
df_tipeData = pd.DataFrame(DataFrame.dtypes, columns = ["Tipe Data"])
df_tipeData

                         Tipe Data
additional_info             object
address                     object
area                        object
city                        object
country                     object
crawl_date                  object
guest_recommendation       float64
hotel_brand                 object
hotel_category              object
hotel_description           object
hotel_facilities            object
hotel_star_rating            int64
image_count                  int64
latitude                   float64
locality                    object
longitude                  float64
pageurl                     object
point_of_interest           object
property_id                 object
property_name               object
property_type               object
province                    object
qts                         object
query_time_stamp            object
review_count_by_category    object
room_area                   object
room_count                   int64
room_facilities             object
room_type                   object
similar_hotel               object
site_review_count          float64
site_review_rating         float64
site_stay_review_rating     object
sitename                    object
state                       object
uniq_id                     object

In [9]:
# Melihat informasi umum
DataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 36 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   additional_info           3192 non-null   object
 1   address                   4000 non-null   object
 2   area                      3965 non-null   object
 3   city                      4000 non-null   object
 4   country                   4000 non-null   object
 5   crawl_date                4000 non-null   object
 6   guest_recommendation      2416 non-null   float64
 7   hotel_brand               389 non-null    object
 8   hotel_category            4000 non-null   object
 9   hotel_description         3983 non-null   object
 10  hotel_facilities          3806 non-null   object
 11  hotel_star_rating         4000 non-null   int64
 12  image_count               4000 non-null   int64
 13  latitude                  4000 non-null   float64
 14  locality                  3965 non-null   object
 15  longitude                 4000 non-null   float64
 16  pageurl                   4000 non-null   object
 17  point_of_interest         3760 non-null   object
 18  property_id               4000 non-null   object
 19  property_name             4000 non-null   object
 20  property_type             4000 non-null   object
 21  province                  4000 non-null   object
 22  qts                       2716 non-null   object
 23  query_time_stamp          4000 non-null   object
 24  review_count_by_category  2415 non-null   object
 25  room_area                 1128 non-null   object
 26  room_count                4000 non-null   int64
 27  room_facilities           3730 non-null   object
 28  room_type                 4000 non-null   object
 29  similar_hotel             3917 non-null   object
 30  site_review_count         2416 non-null   float64
 31  site_review_rating        2416 non-null   float64
 32  site_stay_review_rating   4000 non-null   object
 33  sitename                  4000 non-null   object
 34  state                     4000 non-null   object
 35  uniq_id                   4000 non-null   object
dtypes: float64(5), int64(3), object(28)
memory usage: 1.1+ MB

In [10]:
# .Describe()
DataFrame.describe()

,guest_recommendation,hotel_star_rating,image_count,latitude,longitude,room_count,site_review_count,site_review_rating
count,2416.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,2416.000000,2416.000000
mean,75.537666,1.306000,12.995500,21.288213,77.432995,22.200250,47.765728,3.750993
std,22.698935,1.479159,11.631113,7.576905,4.506588,96.132138,93.233924,0.842863
min,0.000000,0.000000,0.000000,8.080476,12.939682,0.000000,0.000000,0.000000
25%,67.000000,0.000000,6.000000,13.748553,74.723694,7.000000,4.000000,3.400000
50%,80.000000,1.000000,9.000000,22.225083,76.967365,14.000000,17.000000,3.900000
75%,90.000000,3.000000,17.000000,28.018203,78.286097,26.000000,55.000000,4.300000
max,100.000000,5.000000,129.000000,79.608077,95.346775,5874.000000,2094.000000,5.000000

In [11]:
# Kita transformasi data
DataFrame['site_stay_review_rating'] = pd.to_numeric(DataFrame['site_stay_review_rating'], errors='coerce')
DataFrame['query_time_stamp'] = pd.to_datetime(DataFrame['query_time_stamp'], errors='coerce')
DataFrame['crawl_date'] = pd.to_datetime(DataFrame['crawl_date'], errors='coerce')

In [12]:
# Kita check lagi
DataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 36 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   additional_info           3192 non-null   object
 1   address                   4000 non-null   object
 2   area                      3965 non-null   object
 3   city                      4000 non-null   object
 4   country                   4000 non-null   object
 5   crawl_date                4000 non-null   datetime64[ns]
 6   guest_recommendation      2416 non-null   float64
 7   hotel_brand               389 non-null    object
 8   hotel_category            4000 non-null   object
 9   hotel_description         3983 non-null   object
 10  hotel_facilities          3806 non-null   object
 11  hotel_star_rating         4000 non-null   int64
 12  image_count               4000 non-null   int64
 13  latitude                  4000 non-null   float64
 14  locality                  3965 non-null   object
 15  longitude                 4000 non-null   float64
 16  pageurl                   4000 non-null   object
 17  point_of_interest         3760 non-null   object
 18  property_id               4000 non-null   object
 19  property_name             4000 non-null   object
 20  property_type             4000 non-null   object
 21  province                  4000 non-null   object
 22  qts                       2716 non-null   object
 23  query_time_stamp          4000 non-null   datetime64[ns, UTC]
 24  review_count_by_category  2415 non-null   object
 25  room_area                 1128 non-null   object
 26  room_count                4000 non-null   int64
 27  room_facilities           3730 non-null   object
 28  room_type                 4000 non-null   object
 29  similar_hotel             3917 non-null   object
 30  site_review_count         2416 non-null   float64
 31  site_review_rating        2416 non-null   float64
 32  site_stay_review_rating   0 non-null      float64
 33  sitename                  4000 non-null   object
 34  state                     4000 non-null   object
 35  uniq_id                   4000 non-null   object
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), float64(6), int64(3), object(25)
memory usage: 1.1+ MB

In [13]:
DataFrame['site_stay_review_rating'].sample(10)

3574   NaN
3771   NaN
2288   NaN
1149   NaN
3763   NaN
1301   NaN
3507   NaN
2334   NaN
3853   NaN
2922   NaN
Name: site_stay_review_rating, dtype: float64

In [14]:
# .isnull().sum()
DataFrame.isnull().sum()

additional_info              808
address                        0
area                          35
city                           0
country                        0
crawl_date                     0
guest_recommendation        1584
hotel_brand                 3611
hotel_category                 0
hotel_description             17
hotel_facilities             194
hotel_star_rating              0
image_count                    0
latitude                       0
locality                      35
longitude                      0
pageurl                        0
point_of_interest            240
property_id                    0
property_name                  0
property_type                  0
province                       0
qts                         1284
query_time_stamp               0
review_count_by_category    1585
room_area                   2872
room_count                     0
room_facilities              270
room_type                      0
similar_hotel                 83
site_review_count           1584
site_review_rating          1584
site_stay_review_rating     4000
sitename                       0
state                          0
uniq_id                        0
dtype: int64

In [15]:
DataFrame.head()

,additional_info,address,area,city,country,crawl_date,guest_recommendation,hotel_brand,hotel_category,hotel_description,...,room_count,room_facilities,room_type,similar_hotel,site_review_count,site_review_rating,site_stay_review_rating,sitename,state,uniq_id
0,Room Service|Internet Access|Restaurant|Free I...,"15th Mile, N.H.21,Manali, District Kullu,Himac...",Others,Manali,India,2016-07-24,85.0,NaN,gostays,The standard check-in time is 12:00 PM and the...,...,17,Room Service |Basic Bathroom Amenities|Cable /...,Deluxe Room,https://www.goibibo.com/hotels/woodchime-homes...,87.0,4.0,NaN,goibibo,Himachal Pradesh,2c8db027d43a9452a43e88eb30d9f983
1,Room Service|Gym/Spa,"A-585, Sushant Lok-1 ,Near Iffco Chowk Metro S...",Sushant Lok,Gurgaon,India,2016-07-24,87.0,NaN,regular,The standard check-in time is 12:00 PM and the...,...,18,Room Service |Air Conditioning |Basic Bathroom...,Deluxe Room With Free WIFI,https://www.goibibo.com/hotels/stepinn-iffco-c...,8.0,4.5,NaN,goibibo,Haryana,e98f69f889c0235e6dc480e7df6de0de
2,Restaurant|Swimming Pool,"Cobra Vaddo,Calungate Baga Road, Bardez, Calan...",Calangute Area,Goa,India,2016-07-24,50.0,NaN,regular,The standard check-in time is 12:00 PM and the...,...,15,Room Service |Air Conditioning |Cable / Satell...,Standard Room,https://www.goibibo.com/hotels/sunrise-beach-r...,2.0,2.5,NaN,goibibo,Goa,9b59d00eaffc273d83000ed7dcda0e83
3,NaN,Simsa,Village Simsa,Manali,India,2016-07-24,100.0,NaN,regular,The standard check-in time is 12:00 PM and the...,...,24,Basic Bathroom Amenities|Cable / Satellite / P...,Deluxe Room,https://www.goibibo.com/hotels/green-cottages-...,1.0,5.0,NaN,goibibo,Himachal Pradesh,df0971f9c5501af112485ee28b468ce5
4,Internet Access|Restaurant,"8180 Street No.-6,Arakashan Road,Paharganj",Paharganj,Delhi,India,2016-07-24,63.0,NaN,regular,The standard check-in time is 12:00 PM and the...,...,20,Basic Bathroom Amenities|Cable / Satellite / P...,Standard Room Non AC,https://www.goibibo.com/hotels/delhi-continent...,121.0,2.8,NaN,goibibo,Delhi,0c3514344c9cda8718f558e84bdb44ef

In [16]:
# Hitung median guest_recommendation per kota
city_medians = DataFrame.groupby('city')['guest_recommendation'].median()

# Isi berdasarkan median kota
DataFrame['guest_recommendation'] = DataFrame.apply(
    lambda row: city_medians[row['city']] if pd.isna(row['guest_recommendation']) else row['guest_recommendation'],
    axis=1
)

In [17]:
# Mengisi Datanya -> unkown -> .fillna()
DataFrame['additional_info'] = DataFrame['additional_info'].fillna('Unknown')
# Mengisi Datanya -> unkown -> .fillna()
DataFrame['area'] = DataFrame['area'].fillna('Unknown')

In [18]:
# .isnull().sum()
DataFrame.isnull().sum()

additional_info                0
address                        0
area                           0
city                           0
country                        0
crawl_date                     0
guest_recommendation         281
hotel_brand                 3611
hotel_category                 0
hotel_description             17
hotel_facilities             194
hotel_star_rating              0
image_count                    0
latitude                       0
locality                      35
longitude                      0
pageurl                        0
point_of_interest            240
property_id                    0
property_name                  0
property_type                  0
province                       0
qts                         1284
query_time_stamp               0
review_count_by_category    1585
room_area                   2872
room_count                     0
room_facilities              270
room_type                      0
similar_hotel                 83
site_review_count           1584
site_review_rating          1584
site_stay_review_rating     4000
sitename                       0
state                          0
uniq_id                        0
dtype: int64

In [19]:
# Hitung nilai median dari kolom guest_recommendation
median_value = DataFrame['guest_recommendation'].median()

# Isi nilai yang kosong (NaN) dengan median tersebut
DataFrame['guest_recommendation'].fillna(median_value, inplace=True)

# Cek kembali apakah masih ada nilai kosong
print("Missing value setelah imputasi:", DataFrame['guest_recommendation'].isnull().sum())

Missing value setelah imputasi: 0

C:\Users\tataa\AppData\Local\Temp\ipykernel_26164\2819202289.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  DataFrame['guest_recommendation'].fillna(median_value, inplace=True)

In [20]:
# .isnull().sum()
DataFrame.isnull().sum()

additional_info                0
address                        0
area                           0
city                           0
country                        0
crawl_date                     0
guest_recommendation           0
hotel_brand                 3611
hotel_category                 0
hotel_description             17
hotel_facilities             194
hotel_star_rating              0
image_count                    0
latitude                       0
locality                      35
longitude                      0
pageurl                        0
point_of_interest            240
property_id                    0
property_name                  0
property_type                  0
province                       0
qts                         1284
query_time_stamp               0
review_count_by_category    1585
room_area                   2872
room_count                     0
room_facilities              270
room_type                      0
similar_hotel                 83
site_review_count           1584
site_review_rating          1584
site_stay_review_rating     4000
sitename                       0
state                          0
uniq_id                        0
dtype: int64

In [21]:
DataFrame['guest_recommendation'].sample(5)

1852     80.0
3588     83.0
3505     80.0
1640     78.0
1925    100.0
Name: guest_recommendation, dtype: float64

In [22]:
DataFrame['hotel_brand'].sample(5)

1419    NaN
3559    NaN
560     NaN
3986    NaN
2314    NaN
Name: hotel_brand, dtype: object

In [23]:
DataFrame.drop(columns=["hotel_brand"], inplace = True)

In [24]:
DataFrame.isnull().sum()

additional_info                0
address                        0
area                           0
city                           0
country                        0
crawl_date                     0
guest_recommendation           0
hotel_category                 0
hotel_description             17
hotel_facilities             194
hotel_star_rating              0
image_count                    0
latitude                       0
locality                      35
longitude                      0
pageurl                        0
point_of_interest            240
property_id                    0
property_name                  0
property_type                  0
province                       0
qts                         1284
query_time_stamp               0
review_count_by_category    1585
room_area                   2872
room_count                     0
room_facilities              270
room_type                      0
similar_hotel                 83
site_review_count           1584
site_review_rating          1584
site_stay_review_rating     4000
sitename                       0
state                          0
uniq_id                        0
dtype: int64

In [25]:
DataFrame[['hotel_description']].sample(5)

                                      hotel_description
2084  The standard check-in time is 12:00 PM and the...
3843  The standard check-in time is 12:00 PM and the...
709   The standard check-in time is 12:00 PM and the...
3128  The standard check-in time is 12:00 PM and the...
724   The standard check-in time is 12:00 PM and the...

In [26]:
# Mengisi Datanya -> unkown -> .fillna()
# hotel description sedikit sekali missing valuenya, jadi bisa kita isi pakai nilai no description
DataFrame['hotel_description'] = DataFrame['hotel_description'].fillna('No description')

In [27]:
DataFrame[['hotel_facilities']].sample(5)

                                       hotel_facilities
1025  Airport Transfer Available / Surcharge|Doctor ...
1856  Laundry Service Available|Lift / Elevator|Fron...
2486                                                NaN
596   Doctor on Call|Front Desk|24 Hour Front Desk|P...
3891  Doctor on Call|Lobby|Front Desk|Local Tour / T...

In [28]:
# Pastikan nilai kosong sebelumnya sudah diisi:
DataFrame['hotel_facilities'].fillna('No Info', inplace=True)

# Tambahkan kolom baru: facility_count
DataFrame['facility_count'] = DataFrame['hotel_facilities'].apply(lambda x: 0 if x == 'No Info' else len(x.split('|')))

C:\Users\tataa\AppData\Local\Temp\ipykernel_26164\2625351353.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  DataFrame['hotel_facilities'].fillna('No Info', inplace=True)

In [29]:
DataFrame[['facility_count']].sample(5)

      facility_count
3668               9
3083              46
448                5
3037               4
344               57

In [30]:
DataFrame.isnull().sum()

additional_info                0
address                        0
area                           0
city                           0
country                        0
crawl_date                     0
guest_recommendation           0
hotel_category                 0
hotel_description              0
hotel_facilities               0
hotel_star_rating              0
image_count                    0
latitude                       0
locality                      35
longitude                      0
pageurl                        0
point_of_interest            240
property_id                    0
property_name                  0
property_type                  0
province                       0
qts                         1284
query_time_stamp               0
review_count_by_category    1585
room_area                   2872
room_count                     0
room_facilities              270
room_type                      0
similar_hotel                 83
site_review_count           1584
site_review_rating          1584
site_stay_review_rating     4000
sitename                       0
state                          0
uniq_id                        0
facility_count                 0
dtype: int64

In [31]:
DataFrame[['locality']].sample(5)
# Mengisi Datanya -> unkown -> .fillna()
DataFrame['locality'] = DataFrame['locality'].fillna('Others')

In [32]:
DataFrame[['site_review_rating']].sample(5)

      site_review_rating
2273                 5.0
3224                 NaN
1786                 3.9
3395                 3.1
995                  4.3

In [33]:
DataFrame['point_of_interest'] = DataFrame['point_of_interest'].fillna(0)
DataFrame['qts'] = DataFrame['qts'].fillna(0)
DataFrame['review_count_by_category'] = DataFrame['review_count_by_category'].fillna('unkown')
DataFrame['room_area'] = DataFrame['room_area'].fillna('unkown')
DataFrame['room_facilities'] = DataFrame['room_facilities'].fillna('unkown')
DataFrame['site_review_count'] = DataFrame['site_review_count'].fillna(0)
DataFrame['site_review_rating'] = DataFrame['site_review_rating'].fillna(0)

In [34]:
# DataFrame.drop(columns=["similar_hotel"], inplace = True)
DataFrame.drop(columns=["site_stay_review_rating"], inplace = True)

In [35]:
DataFrame['qts'].dropna().sample(5).values

array([0, '2016-08-21 04:45:27 +0000', 0, '2016-07-31 00:56:22 +0000', 0],
      dtype=object)

##### 2. DUplicate Data

In [46]:
DataFrame[DataFrame.duplicated]

Empty DataFrame
Columns: [additional_info, address, area, city, country, crawl_date, guest_recommendation, hotel_category, hotel_description, hotel_facilities, hotel_star_rating, image_count, latitude, locality, longitude, pageurl, point_of_interest, property_id, property_name, property_type, province, qts, query_time_stamp, review_count_by_category, room_area, room_count, room_facilities, room_type, similar_hotel, site_review_count, site_review_rating, sitename, state, uniq_id, facility_count]
Index: []

[0 rows x 35 columns]

##### Karena tidak ada yang duplicate maka bisa kita skip

#### Aggregation dan Feature Engineering

In [37]:
# Pastikan kolom yang akan dianalisis sudah dibersihkan
# Misalnya: df['site_review_rating'], df['guest_recommendation'], df['site_review_count'] sudah diisi NaN-nya

# Agregasi hotel per provinsi berdasarkan rating dan jumlah review
agg_df = DataFrame.groupby(['province', 'property_name']).agg({
    'site_review_rating': 'mean',
    'guest_recommendation': 'mean',
    'site_review_count': 'sum'
}).reset_index()

# Buat kolom skor gabungan (opsional)
agg_df['score'] = (
    agg_df['site_review_rating'].fillna(0) * 0.6 +
    agg_df['guest_recommendation'].fillna(0) * 0.4
)

# Urutkan dari yang terbaik
agg_df_sorted = agg_df.sort_values(by=['province', 'score', 'site_review_count'], ascending=[True, False, False])

# Tampilkan hotel terbaik tiap provinsi
top_hotels_by_province = agg_df_sorted.groupby('province').head(1)
print(top_hotels_by_province)

         province                                      property_name  \
0          Abohar                                     Hotel Sen-nite
1        Agartala                                Central Guest House
13           Agra                            Four Points By Sheraton
47     Ahmadnagar                                   Hotel Raj palace
55      Ahmedabad                                Corporate Residency
...           ...                                                ...
3981     Yelagiri  Yelagiri Hills Sai &amp; Shreeya's Holiday cot...
3982      Yercaud                            Annai Illam Guest House
3994  kanyakumari                       Sparsa Resorts (Kanyakumari)
3995   kumbalgarh                          Club Mahindra Kumbhalgarh
3997    pachmarhi                                    Club View Hotel

      site_review_rating  guest_recommendation  site_review_count  score
0                    0.0                  80.0                0.0  32.00
1                    1.0                 100.0                1.0  40.60
13                   4.7                 100.0                6.0  42.82
47                   2.8                 100.0                2.0  41.68
55                   5.0                 100.0                1.0  43.00
...                  ...                   ...                ...    ...
3981                 0.0                  80.0                0.0  32.00
3982                 4.6                 100.0                1.0  42.76
3994                 4.5                  86.0               84.0  37.10
3995                 4.0                  74.0               50.0  32.00
3997                 0.0                  80.0                0.0  32.00

[558 rows x 6 columns]

In [38]:
# Rata Rata rating hotel per kategori hotel
DataFrame.groupby("province")["site_review_count"].sum()

province
Abohar            0.0
Agartala          1.0
Agra           2616.0
Ahmadnagar       56.0
Ahmedabad      2742.0
                ...
Yelagiri          0.0
Yercaud         284.0
kanyakumari      84.0
kumbalgarh       50.0
pachmarhi         0.0
Name: site_review_count, Length: 558, dtype: float64

In [39]:
# Total jumlah riview per provinsi
DataFrame.groupby("province")["site_review_count"].sum()

province
Abohar            0.0
Agartala          1.0
Agra           2616.0
Ahmadnagar       56.0
Ahmedabad      2742.0
                ...
Yelagiri          0.0
Yercaud         284.0
kanyakumari      84.0
kumbalgarh       50.0
pachmarhi         0.0
Name: site_review_count, Length: 558, dtype: float64

In [40]:
# Rata Rata jumlah gambar per properti
DataFrame.groupby("property_type")["image_count"].mean()

property_type
Beach Hut            15.000000
BnB                  11.448980
Bungalow              7.391304
Cottage              11.706667
Farm Stay            10.428571
Guest House           9.172840
Homestay              8.796537
Hostel               10.600000
Hotel                13.907519
Houseboat             7.858974
Lodge                 7.222222
Luxury Yacht          6.666667
Motel                12.111111
Palace               23.636364
Resort               17.075581
Service Apartment    10.065574
Tent                  9.157895
Villa                10.795918
Name: image_count, dtype: float64

In [42]:
DataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   additional_info           4000 non-null   object
 1   address                   4000 non-null   object
 2   area                      4000 non-null   object
 3   city                      4000 non-null   object
 4   country                   4000 non-null   object
 5   crawl_date                4000 non-null   datetime64[ns]
 6   guest_recommendation      4000 non-null   float64
 7   hotel_category            4000 non-null   object
 8   hotel_description         4000 non-null   object
 9   hotel_facilities          4000 non-null   object
 10  hotel_star_rating         4000 non-null   int64
 11  image_count               4000 non-null   int64
 12  latitude                  4000 non-null   float64
 13  locality                  4000 non-null   object
 14  longitude                 4000 non-null   float64
 15  pageurl                   4000 non-null   object
 16  point_of_interest         4000 non-null   object
 17  property_id               4000 non-null   object
 18  property_name             4000 non-null   object
 19  property_type             4000 non-null   object
 20  province                  4000 non-null   object
 21  qts                       4000 non-null   object
 22  query_time_stamp          4000 non-null   datetime64[ns, UTC]
 23  review_count_by_category  4000 non-null   object
 24  room_area                 4000 non-null   object
 25  room_count                4000 non-null   int64
 26  room_facilities           4000 non-null   object
 27  room_type                 4000 non-null   object
 28  similar_hotel             3917 non-null   object
 29  site_review_count         4000 non-null   float64
 30  site_review_rating        4000 non-null   float64
 31  sitename                  4000 non-null   object
 32  state                     4000 non-null   object
 33  uniq_id                   4000 non-null   object
 34  facility_count            4000 non-null   int64
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), float64(5), int64(4), object(24)
memory usage: 1.1+ MB

In [44]:
# Ringkasan statistik jumlah kamar per hotel brand 
DataFrame.groupby("hotel_star_rating")["room_count"].agg(["mean", "min", "max", "count"])

                        mean  min   max  count
hotel_star_rating
0                  13.176136    0   256   1936
1                  14.027149    1    90    442
2                  21.313152    1   110    479
3                  34.774427    1  5874    829
4                  50.270386    1   352    233
5                  78.296296    0   515     81

#### Bersihkan Outlier

In [43]:
numerical_cols = DataFrame.select_dtypes(include=['int64','float64']).columns.to_list()

In [ ]:
def remove_outliers_iqr(df,columns,X):
    df_clean = df.copy()
    for col in columns :
        Q1 = df_clean[col].quantile(0.25)
        Q3 = df_clean[col].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - X * IQR
        upper_bound = Q3 + X * IQR
        df_clean = df_clean[(df_clean[col] >= lower_bound) & (df_clean[col] <= upper_bound)]
    return df_clean

In [ ]:
df_no_outlier = remove_outliers_iqr(DataFrame, numerical_cols,1)

In [ ]:
df_no_outlier

,additional_info,address,area,city,country,crawl_date,guest_recommendation,hotel_category,hotel_description,hotel_facilities,...,room_area,room_count,room_facilities,room_type,site_review_count,site_review_rating,sitename,state,uniq_id,facility_count
1,Room Service|Gym/Spa,"A-585, Sushant Lok-1 ,Near Iffco Chowk Metro S...",Sushant Lok,Gurgaon,India,2016-07-24,87.0,regular,The standard check-in time is 12:00 PM and the...,Airport Transfer Available / Surcharge|Banquet...,...,14 X 12 Sq.ft.,18,Room Service |Air Conditioning |Basic Bathroom...,Deluxe Room With Free WIFI,8.0,4.5,goibibo,Haryana,e98f69f889c0235e6dc480e7df6de0de,16
4,Internet Access|Restaurant,"8180 Street No.-6,Arakashan Road,Paharganj",Paharganj,Delhi,India,2016-07-24,63.0,regular,The standard check-in time is 12:00 PM and the...,Internet Access - Surcharge|Laundry Service Av...,...,14 X 14 Sq.ft.,20,Basic Bathroom Amenities|Cable / Satellite / P...,Standard Room Non AC,121.0,2.8,goibibo,Delhi,0c3514344c9cda8718f558e84bdb44ef,7
5,Room Service|Internet Access,"Baga Beach, Calangute, Goa",Baga Area,Goa,India,2016-07-24,68.0,regular,The standard check-in time is 02:00 PM and the...,Airport Transfer Available / Surcharge|Bar / L...,...,unkown,15,unkown,Semi Deluxe,16.0,3.9,goibibo,Goa,9250fc9e71eb1b99830b039492310c60,15
6,Free Internet,"K-69, Kalkaji",Kalkaji,Delhi,India,2016-07-24,77.0,regular,The standard check-in time is 12:00 PM and the...,Doctor on Call|Lobby|Front Desk|Power Backup|I...,...,unkown,10,Basic Bathroom Amenities|Hairdryer (on request...,Deluxe A/C Room,0,0.0,goibibo,Delhi,815a2a40bc6cc2b3161553cb67a33b03,6
9,Unknown,51 Amri Nagar south ex,South Extension,Delhi,India,2016-07-24,77.0,regular,The standard check-in time is 02:00 PM and the...,Doctor on Call|Front Desk|24 Hour Front Desk,...,unkown,4,Room Service |Basic Bathroom Amenities,Deluxe,0,0.0,goibibo,Delhi,78e97b94135c33b231335c42695149ed,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3991,Room Service|Internet Access|Restaurant,"Opp City Power House Jaipur Road, Ajmer",Jaipur Road,Ajmer,India,2016-06-26,74.0,regular,The standard check-in time is 12:00 PM and the...,Business Center |Currency Exchange|Doctor on C...,...,13 X 13 Sq.ft.,20,Air Conditioning |Alarm Clock|Newspapers| Hot ...,Deluxe AC Room,213.0,3.6,goibibo,Rajasthan,b24d7f7b48305a536f0f625df03b48fd,19
3994,Room Service|Restaurant,"Near Railway Station , Kota Jn",Station Road Area,Kota,India,2016-06-26,72.0,regular,The standard check-in time is 12:00 PM and the...,Bar / Lounge |Doctor on Call|Laundry Service A...,...,unkown,16,Room Service |Air Conditioning |Basic Bathroom...,AC ROOM,152.0,3.4,goibibo,Rajasthan,1380ad31af79d289c14f14eb5e22741d,23
3995,Room Service,"Vijayvargiya Tower,Tower Chowk, Ujjain (M.P.)",Freeganj Area,Ujjain,India,2016-06-26,63.0,regular,The standard check-in time is 12:00 PM and the...,Doctor on Call|Parking Facilities Available|Pa...,...,unkown,10,unkown,Two bed AC Room,0,0.0,goibibo,Madhya Pradesh,9e59170d5f79ebb7b590ed339e3762a4,4
3996,Room Service,"Anjali Circle ,Opposite Petrol Pump,Vasna Road",Ellis Bridge Area,Ahmedabad,India,2016-06-26,82.0,regular,The standard check-in time is 02:00 PM and the...,Doctor on Call|Laundry Service Available|Parki...,...,unkown,12,Room Service |Air Conditioning |Basic Bathroom...,Non AC Room,0,0.0,goibibo,Gujarat,c0f3e4dac166df972277c86243b27560,15
3997,Room Service|Restaurant,"Marol Maroshi Road, Near To Marol naka FireBri...",Andheri,Mumbai,India,2016-06-26,83.0,regular,The standard check-in time is 12:00 PM and the...,Banquet Facilities|Bar / Lounge |Currency Exch...,...,unkown,41,Air Conditioning |Cable / Satellite / Pay TV a...,Gold Room,77.0,4.0,goibibo,Maharashtra,38b95f3e67046131254d3e2106b9d8fa,15

In [ ]:
# Minmax Scaling, mengubah data menjadi rentang dari 0 - 1
from sklearn.preprocessing import MinMaxScaler

df_minmax_scaled = df_no_outlier.copy()

In [ ]:
min_max_scale = MinMaxScaler()

In [ ]:
df_minmax_scaled[numerical_cols] = min_max_scale.fit_transform(df_no_outlier[numerical_cols])

In [ ]:
df_minmax_scaled.describe()

,crawl_date,guest_recommendation,hotel_star_rating,image_count,latitude,longitude,room_count,site_review_rating,facility_count
count,1901,1901.000000,1901.000000,1901.000000,1901.000000,1901.000000,1901.000000,1901.000000,1901.000000
mean,2016-07-25 02:30:44.502893312,0.486083,0.190216,0.333171,0.474354,0.469762,0.288244,0.289532,0.333424
min,2016-06-26 00:00:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2016-07-03 00:00:00,0.382353,0.000000,0.178571,0.187589,0.280642,0.097561,0.000000,0.161290
50%,2016-07-24 00:00:00,0.500000,0.000000,0.285714,0.418129,0.481489,0.219512,0.000000,0.290323
75%,2016-08-07 00:00:00,0.588235,0.400000,0.428571,0.781465,0.597066,0.414634,0.740000,0.483871
max,2016-08-28 00:00:00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
std,NaN,0.190988,0.254908,0.219620,0.301861,0.200698,0.241680,0.379926,0.237156

In [ ]:
DataFrame[numerical_cols].corr()

,guest_recommendation,hotel_star_rating,image_count,latitude,longitude,room_count,site_review_rating,facility_count
guest_recommendation,1.000000,0.014672,0.034242,-0.028321,-0.062627,0.003479,0.088618,0.038707
hotel_star_rating,0.014672,1.000000,0.399877,0.023437,-0.031867,0.133108,0.471067,0.418514
image_count,0.034242,0.399877,1.000000,-0.008798,-0.063348,0.145609,0.377274,0.431394
latitude,-0.028321,0.023437,-0.008798,1.000000,0.025291,0.010434,0.019018,0.029786
longitude,-0.062627,-0.031867,-0.063348,0.025291,1.000000,-0.023662,-0.018522,-0.039195
room_count,0.003479,0.133108,0.145609,0.010434,-0.023662,1.000000,0.093652,0.162983
site_review_rating,0.088618,0.471067,0.377274,0.019018,-0.018522,0.093652,1.000000,0.366624
facility_count,0.038707,0.418514,0.431394,0.029786,-0.039195,0.162983,0.366624,1.000000