### Basic EDA with Pandas

In [57]:
import pandas as pd

In [58]:
DataFrame = pd.read_csv('kelasbagus3-deep-understanding-of-machine-learning\Data\hotel_bookings.csv')

In [59]:
DataFrame

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

##### 1. Cari tau jumlah baris dan jumlah kolomnya

In [60]:
df_shape = pd.DataFrame([DataFrame.shape], columns=['Jumlah Baris',"Jumlah Kolom"])
df_shape

   Jumlah Baris  Jumlah Kolom
0        119390            32

In [61]:
DataFrame.shape

(119390, 32)

In [62]:
# .head()
# Untuk melihat 5 data teratas
DataFrame.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [63]:
# Menampilkan 5 data terbawah
DataFrame.tail()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [64]:
# Kalau mengambil sample
DataFrame.sample(5)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
58429,City Hotel,1,314,2016,October,42,12,0,3,2,...,Non Refund,21.0,NaN,68,Transient,75.00,0,0,Canceled,2016-06-28
29733,Resort Hotel,0,31,2016,October,45,30,2,4,2,...,No Deposit,240.0,NaN,0,Transient-Party,70.45,0,1,Check-Out,2016-11-05
95654,City Hotel,0,210,2016,August,34,15,2,5,2,...,No Deposit,7.0,NaN,0,Transient,67.42,0,1,Check-Out,2016-08-22
104794,City Hotel,0,2,2017,January,3,21,0,1,2,...,No Deposit,14.0,NaN,0,Transient,88.00,0,0,Check-Out,2017-01-22
10731,Resort Hotel,1,66,2017,March,13,30,0,3,2,...,No Deposit,250.0,NaN,0,Transient,80.07,0,0,Canceled,2017-03-08

In [65]:
# untuk melihat Kolomnya
DataFrame.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [66]:
# Masih kurang enak nih, kita coba bentuk lebih rapih

DataFrame.columns
df_columns = pd.DataFrame(DataFrame.columns, columns = ["Nama Kolom"])
df_columns

                        Nama Kolom
0                            hotel
1                      is_canceled
2                        lead_time
3                arrival_date_year
4               arrival_date_month
5         arrival_date_week_number
6        arrival_date_day_of_month
7          stays_in_weekend_nights
8             stays_in_week_nights
9                           adults
10                        children
11                          babies
12                            meal
13                         country
14                  market_segment
15            distribution_channel
16               is_repeated_guest
17          previous_cancellations
18  previous_bookings_not_canceled
19              reserved_room_type
20              assigned_room_type
21                 booking_changes
22                    deposit_type
23                           agent
24                         company
25            days_in_waiting_list
26                   customer_type
27                             adr
28     required_car_parking_spaces
29       total_of_special_requests
30              reservation_status
31         reservation_status_date

In [67]:
# .dtypes untuk melihat tipe datanya
DataFrame.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

In [68]:
# Karena ngga semuanya muncul kita buat
df_tipeData = pd.DataFrame(DataFrame.dtypes, columns = ["Tipe Data"])
df_tipeData

                               Tipe Data
hotel                             object
is_canceled                        int64
lead_time                          int64
arrival_date_year                  int64
arrival_date_month                object
arrival_date_week_number           int64
arrival_date_day_of_month          int64
stays_in_weekend_nights            int64
stays_in_week_nights               int64
adults                             int64
children                         float64
babies                             int64
meal                              object
country                           object
market_segment                    object
distribution_channel              object
is_repeated_guest                  int64
previous_cancellations             int64
previous_bookings_not_canceled     int64
reserved_room_type                object
assigned_room_type                object
booking_changes                    int64
deposit_type                      object
agent                            float64
company                          float64
days_in_waiting_list               int64
customer_type                     object
adr                              float64
required_car_parking_spaces        int64
total_of_special_requests          int64
reservation_status                object
reservation_status_date           object

In [69]:
# Melihat informasi umum
DataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [70]:
DataFrame['agent']

0           NaN
1           NaN
2           NaN
3         304.0
4         240.0
          ...
119385    394.0
119386      9.0
119387      9.0
119388     89.0
119389      9.0
Name: agent, Length: 119390, dtype: float64

In [71]:
# .Describe()
DataFrame.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,103050.000000,6797.000000,119390.000000,119390.000000,119390.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,1.856403,0.103890,0.007949,0.031912,0.087118,0.137097,0.221124,86.693382,189.266735,2.321149,101.831122,0.062518,0.571363
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,0.579261,0.398561,0.097436,0.175767,0.844336,1.497437,0.652306,110.774548,131.655015,17.594721,50.535790,0.245291,0.792798
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,62.000000,0.000000,69.290000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,179.000000,0.000000,94.575000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,229.000000,270.000000,0.000000,126.000000,0.000000,1.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000

### 2. Data Cleaning
#### Menghilangkan missing value

In [72]:
# .isnull().sum()
DataFrame.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [73]:
# Kita ubah ke persantase
DataFrame.isnull().sum() / len(DataFrame) * 100

hotel                              0.000000
is_canceled                        0.000000
lead_time                          0.000000
arrival_date_year                  0.000000
arrival_date_month                 0.000000
arrival_date_week_number           0.000000
arrival_date_day_of_month          0.000000
stays_in_weekend_nights            0.000000
stays_in_week_nights               0.000000
adults                             0.000000
children                           0.003350
babies                             0.000000
meal                               0.000000
country                            0.408744
market_segment                     0.000000
distribution_channel               0.000000
is_repeated_guest                  0.000000
previous_cancellations             0.000000
previous_bookings_not_canceled     0.000000
reserved_room_type                 0.000000
assigned_room_type                 0.000000
booking_changes                    0.000000
deposit_type                       0.000000
agent                             13.686238
company                           94.306893
days_in_waiting_list               0.000000
customer_type                      0.000000
adr                                0.000000
required_car_parking_spaces        0.000000
total_of_special_requests          0.000000
reservation_status                 0.000000
reservation_status_date            0.000000
dtype: float64

In [74]:
# Mengisi Datanya -> unkown -> .fillna()
DataFrame['country'] = DataFrame['country'].fillna('Unknown')

In [75]:
DataFrame.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                                0
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [76]:
DataFrame['children'] = DataFrame['children'].fillna(0)

In [77]:
DataFrame.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               0
babies                                 0
meal                                   0
country                                0
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [78]:
DataFrame['agent'] = DataFrame['agent'].fillna(0)

In [79]:
DataFrame.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               0
babies                                 0
meal                                   0
country                                0
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                                  0
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [80]:
DataFrameNew = DataFrame.drop(columns=["company"], axis = 1)

In [81]:
DataFrameNew.isnull().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

In [82]:
# Duplicate Data -> .duplicated()

DataFrameNew.duplicated().sum()

np.int64(32001)

In [83]:
DataFrameNew[DataFrameNew.duplicated].head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,No Deposit,240.0,0,Transient,98.00,0,1,Check-Out,2015-07-03
22,Resort Hotel,0,72,2015,July,27,1,2,4,2,...,1,No Deposit,250.0,0,Transient,84.67,0,1,Check-Out,2015-07-07
43,Resort Hotel,0,70,2015,July,27,2,2,3,2,...,0,No Deposit,250.0,0,Transient,137.00,0,1,Check-Out,2015-07-07
138,Resort Hotel,1,5,2015,July,28,5,1,0,2,...,0,No Deposit,240.0,0,Transient,97.00,0,0,Canceled,2015-07-01
200,Resort Hotel,0,0,2015,July,28,7,0,1,1,...,0,No Deposit,240.0,0,Transient,109.80,0,3,Check-Out,2015-07-08

In [84]:
# drop_duplicates()
DataFrameNew = DataFrameNew.drop_duplicates()

In [85]:
DataFrameNew.duplicated().sum()

np.int64(0)

### Aggregation & Feature Engineering

In [86]:
# Groupby()
# Aggrigate butuh tujuan, dan tujuan kita value_counts(), menghitung jumlahnya
# Unstack untuk rapihin
DataFrameNew.groupby("hotel")['is_canceled'].value_counts().unstack()

is_canceled       0      1
hotel
City Hotel    37377  16049
Resort Hotel  25987   7976

In [87]:
DataFrameNew.groupby('hotel')['adr'].mean()

hotel
City Hotel      110.985270
Resort Hotel     99.030296
Name: adr, dtype: float64

In [88]:
# Bagaimana kalau kita ingin mengambil 3 feature
DataFrameNew.groupby(['arrival_date_year','hotel'])['adr'].mean().unstack()

hotel              City Hotel  Resort Hotel
arrival_date_year
2015                89.813927     94.450802
2016               107.896446     90.653587
2017               121.986516    113.020094

In [89]:
DataFrameNew.groupby(['hotel', 'is_canceled'])['adr'].mean().unstack()

is_canceled            0           1
hotel
City Hotel    108.283874  117.276632
Resort Hotel   92.971674  118.770194

In [90]:
DataFrameNew.groupby('hotel')['is_canceled'].mean()

hotel
City Hotel      0.300397
Resort Hotel    0.234844
Name: is_canceled, dtype: float64

In [91]:
DataFrameNew.groupby(['customer_type', 'is_canceled'])['lead_time'].mean().unstack()

is_canceled               0           1
customer_type
Contract         107.451466  118.326172
Group             42.887755  130.500000
Transient         60.684099  103.022933
Transient-Party  109.280869  134.058198

In [92]:
# Ketika kita ingin menggunakan lebih dari 1 aggregasi
DataFrameNew.groupby('customer_type')['lead_time'].agg(['min','max','mean','count'])

                 min  max        mean  count
customer_type
Contract           0  532  109.225231   3139
Group              0  468   51.584559    544
Transient          0  737   73.431274  71982
Transient-Party    0  542  113.057489  11724

### Feature Engineering
#### Menambah data dari data yang kita miliki

In [93]:
DataFrameNew['total_night'] = DataFrameNew['stays_in_weekend_nights'] + DataFrameNew['stays_in_week_nights']

In [94]:
DataFrameNew[['total_night','stays_in_weekend_nights','stays_in_week_nights']].sample(10)

        total_night  stays_in_weekend_nights  stays_in_week_nights
42453             2                        2                     0
47795             2                        0                     2
112163            3                        0                     3
10116             4                        1                     3
93047             3                        0                     3
109367            2                        1                     1
100383            2                        0                     2
116530            5                        1                     4
103280            2                        0                     2
97932             4                        2                     2

In [95]:
# Sekarang kita mencari total pengunjung/ total guest
DataFrameNew.info()

<class 'pandas.core.frame.DataFrame'>
Index: 87389 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           87389 non-null  object
 1   is_canceled                     87389 non-null  int64
 2   lead_time                       87389 non-null  int64
 3   arrival_date_year               87389 non-null  int64
 4   arrival_date_month              87389 non-null  object
 5   arrival_date_week_number        87389 non-null  int64
 6   arrival_date_day_of_month       87389 non-null  int64
 7   stays_in_weekend_nights         87389 non-null  int64
 8   stays_in_week_nights            87389 non-null  int64
 9   adults                          87389 non-null  int64
 10  children                        87389 non-null  float64
 11  babies                          87389 non-null  int64
 12  meal                            87389 non-null  object
 13  country                         87389 non-null  object
 14  market_segment                  87389 non-null  object
 15  distribution_channel            87389 non-null  object
 16  is_repeated_guest               87389 non-null  int64
 17  previous_cancellations          87389 non-null  int64
 18  previous_bookings_not_canceled  87389 non-null  int64
 19  reserved_room_type              87389 non-null  object
 20  assigned_room_type              87389 non-null  object
 21  booking_changes                 87389 non-null  int64
 22  deposit_type                    87389 non-null  object
 23  agent                           87389 non-null  float64
 24  days_in_waiting_list            87389 non-null  int64
 25  customer_type                   87389 non-null  object
 26  adr                             87389 non-null  float64
 27  required_car_parking_spaces     87389 non-null  int64
 28  total_of_special_requests       87389 non-null  int64
 29  reservation_status              87389 non-null  object
 30  reservation_status_date         87389 non-null  object
 31  total_night                     87389 non-null  int64
dtypes: float64(3), int64(17), object(12)
memory usage: 22.0+ MB

In [96]:
DataFrameNew['Total Guest'] = DataFrameNew['adults'] + DataFrameNew['children'] + DataFrameNew['babies']

In [97]:
DataFrameNew[['Total Guest','adults','children','babies']]

        Total Guest  adults  children  babies
0               2.0       2       0.0       0
1               2.0       2       0.0       0
2               1.0       1       0.0       0
3               1.0       1       0.0       0
4               2.0       2       0.0       0
...             ...     ...       ...     ...
119385          2.0       2       0.0       0
119386          3.0       3       0.0       0
119387          2.0       2       0.0       0
119388          2.0       2       0.0       0
119389          2.0       2       0.0       0

[87389 rows x 4 columns]

In [98]:
DataFrameNew['is_repeated_guest_category'] = DataFrameNew['is_repeated_guest'].apply(lambda x:'Yes' if x == 1 else 'no')

In [99]:
DataFrameNew[['is_repeated_guest_category','is_repeated_guest']].sample(10)

       is_repeated_guest_category  is_repeated_guest
117368                         no                  0
55838                          no                  0
54528                          no                  0
67129                          no                  0
82314                         Yes                  1
112790                         no                  0
83008                          no                  0
95319                          no                  0
31514                         Yes                  1
55893                          no                  0

In [100]:
# Kita akan mengupdate kolom, bukan membuat kolom baru
DataFrameNew['reservation_status_date'] = pd.to_datetime(DataFrameNew['reservation_status_date'])

In [101]:
# udh berubah jadi tipe data tanggal
DataFrameNew['reservation_status_date'].dtype

dtype('<M8[ns]')

In [102]:
DataFrameNew['reservation_status_date']

0        2015-07-01
1        2015-07-01
2        2015-07-02
3        2015-07-02
4        2015-07-03
            ...
119385   2017-09-06
119386   2017-09-07
119387   2017-09-07
119388   2017-09-07
119389   2017-09-07
Name: reservation_status_date, Length: 87389, dtype: datetime64[ns]

In [103]:
DataFrameNew['arrival_date_month']

0           July
1           July
2           July
3           July
4           July
           ...
119385    August
119386    August
119387    August
119388    August
119389    August
Name: arrival_date_month, Length: 87389, dtype: object

In [104]:
# Mapping nama bulan ke angka
month_mapping = {
    'January': 1, 'February': 2, 'March': 3,
    'April': 4, 'May': 5, 'June': 6,
    'July': 7, 'August': 8, 'September': 9,
    'October': 10, 'November': 11, 'December': 12
}

# Terapkan mapping ke kolom 'arrival_date_month'
DataFrameNew['arrival_date_month'] = DataFrameNew['arrival_date_month'].map(month_mapping)

In [105]:
DataFrameNew['arrival_date_month'].sample(10)

24448      5
21387      2
42901      9
116310     7
102775    12
25559      6
54902      7
92101      6
14450     10
65069      3
Name: arrival_date_month, dtype: int64

In [106]:
# untuk merubah data menjadi angka,, bisa menggunakan :
# (boolean) -> lamda, (multiclass) -> map

In [107]:
DataFrameNew.head(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,total_night,Total Guest,is_repeated_guest_category
0,Resort Hotel,0,342,2015,7,27,1,0,0,2,...,0,Transient,0.0,0,0,Check-Out,2015-07-01,0,2.0,no
1,Resort Hotel,0,737,2015,7,27,1,0,0,2,...,0,Transient,0.0,0,0,Check-Out,2015-07-01,0,2.0,no
2,Resort Hotel,0,7,2015,7,27,1,0,1,1,...,0,Transient,75.0,0,0,Check-Out,2015-07-02,1,1.0,no
3,Resort Hotel,0,13,2015,7,27,1,0,1,1,...,0,Transient,75.0,0,0,Check-Out,2015-07-02,1,1.0,no
4,Resort Hotel,0,14,2015,7,27,1,0,2,2,...,0,Transient,98.0,0,1,Check-Out,2015-07-03,2,2.0,no
6,Resort Hotel,0,0,2015,7,27,1,0,2,2,...,0,Transient,107.0,0,0,Check-Out,2015-07-03,2,2.0,no
7,Resort Hotel,0,9,2015,7,27,1,0,2,2,...,0,Transient,103.0,0,1,Check-Out,2015-07-03,2,2.0,no
8,Resort Hotel,1,85,2015,7,27,1,0,3,2,...,0,Transient,82.0,0,1,Canceled,2015-05-06,3,2.0,no
9,Resort Hotel,1,75,2015,7,27,1,0,3,2,...,0,Transient,105.5,0,0,Canceled,2015-04-22,3,2.0,no
10,Resort Hotel,1,23,2015,7,27,1,0,4,2,...,0,Transient,123.0,0,0,Canceled,2015-06-23,4,2.0,no

In [108]:
numerical_cols = DataFrameNew.select_dtypes(include=['int64','float64']).columns.to_list()

In [116]:
def remove_outliers_iqr(df,columns,X):
    df_clean = df.copy()
    for col in columns :
        Q1 = df_clean[col].quantile(0.25)
        Q3 = df_clean[col].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - X * IQR
        upper_bound = Q3 + X * IQR
        df_clean = df_clean[(df_clean[col] >= lower_bound) & (df_clean[col] <= upper_bound)]
    return df_clean

In [117]:
df_no_outlier = remove_outliers_iqr(DataFrameNew, numerical_cols,1)

In [112]:
df_no_outlier

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,total_night,Total Guest,is_repeated_guest_category
4,Resort Hotel,0,14,2015,7,27,1,0,2,2,...,0,Transient,98.00,0,1,Check-Out,2015-07-03,2,2.0,no
6,Resort Hotel,0,0,2015,7,27,1,0,2,2,...,0,Transient,107.00,0,0,Check-Out,2015-07-03,2,2.0,no
7,Resort Hotel,0,9,2015,7,27,1,0,2,2,...,0,Transient,103.00,0,1,Check-Out,2015-07-03,2,2.0,no
8,Resort Hotel,1,85,2015,7,27,1,0,3,2,...,0,Transient,82.00,0,1,Canceled,2015-05-06,3,2.0,no
9,Resort Hotel,1,75,2015,7,27,1,0,3,2,...,0,Transient,105.50,0,0,Canceled,2015-04-22,3,2.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119381,City Hotel,0,188,2017,8,35,31,2,3,2,...,0,Transient,99.00,0,0,Check-Out,2017-09-05,5,2.0,no
119383,City Hotel,0,164,2017,8,35,31,2,4,2,...,0,Transient,87.60,0,0,Check-Out,2017-09-06,6,2.0,no
119384,City Hotel,0,21,2017,8,35,30,2,5,2,...,0,Transient,96.14,0,2,Check-Out,2017-09-06,7,2.0,no
119385,City Hotel,0,23,2017,8,35,30,2,5,2,...,0,Transient,96.14,0,0,Check-Out,2017-09-06,7,2.0,no
119388,City Hotel,0,109,2017,8,35,31,2,5,2,...,0,Transient,104.40,0,0,Check-Out,2017-09-07,7,2.0,no

In [119]:
# Minmax Scaling, mengubah data menjadi rentang dari 0 - 1
from sklearn.preprocessing import MinMaxScaler

df_minmax_scaled = df_no_outlier.copy()

In [121]:
min_max_scale = MinMaxScaler()

In [122]:
df_minmax_scaled[numerical_cols] = min_max_scale.fit_transform(df_no_outlier[numerical_cols])

In [124]:
df_minmax_scaled.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,previous_bookings_not_canceled,booking_changes,agent,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests,reservation_status_date,total_night,Total Guest
count,31620.000000,31620.000000,31620.000000,31620.000000,31620.000000,31620.000000,31620.000000,31620.000000,31620.0,31620.0,...,31620.0,31620.0,31620.000000,31620.0,31620.000000,31620.0,31620.000000,31620,31620.000000,31620.0
mean,0.302941,0.273218,0.609519,0.478917,0.479217,0.490482,0.417252,0.426667,0.0,0.0,...,0.0,0.0,0.137986,0.0,0.485939,0.0,0.325237,2016-08-29 20:04:46.907020800,0.393567,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,2015-03-13 00:00:00,0.000000,0.0
25%,0.000000,0.058577,0.500000,0.272727,0.269231,0.233333,0.000000,0.200000,0.0,0.0,...,0.0,0.0,0.019190,0.0,0.338331,0.0,0.000000,2016-03-19 00:00:00,0.200000,0.0
50%,0.000000,0.196653,0.500000,0.454545,0.461538,0.500000,0.500000,0.400000,0.0,0.0,...,0.0,0.0,0.019190,0.0,0.468235,0.0,0.500000,2016-09-08 00:00:00,0.400000,0.0
75%,1.000000,0.426778,1.000000,0.727273,0.692308,0.766667,1.000000,0.600000,0.0,0.0,...,0.0,0.0,0.181237,0.0,0.629484,0.0,0.500000,2017-02-28 00:00:00,0.600000,0.0
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,0.0,...,0.0,0.0,1.000000,0.0,1.000000,0.0,1.000000,2017-09-06 00:00:00,1.000000,0.0
std,0.459537,0.254859,0.336897,0.286630,0.267730,0.295859,0.405719,0.238043,0.0,0.0,...,0.0,0.0,0.209742,0.0,0.207999,0.0,0.351934,NaN,0.277342,0.0

In [127]:
# Standard Scaling, untuk membuat mean menjadi 0 dan standar deviation menjadi 1
from sklearn.preprocessing import StandardScaler

stf_scaler = StandardScaler()

In [128]:
std_scaler = StandardScaler()

In [129]:
df_std_scaled = df_no_outlier.copy()
df_std_scaled[numerical_cols] = std_scaler.fit_transform(df_no_outlier[numerical_cols])

In [130]:
df_std_scaled.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,previous_bookings_not_canceled,booking_changes,agent,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests,reservation_status_date,total_night,Total Guest
count,3.162000e+04,3.162000e+04,3.162000e+04,3.162000e+04,3.162000e+04,3.162000e+04,3.162000e+04,3.162000e+04,31620.0,31620.0,...,31620.0,31620.0,3.162000e+04,31620.0,3.162000e+04,31620.0,3.162000e+04,31620,3.162000e+04,31620.0
mean,1.725796e-16,3.235868e-17,-4.173551e-14,-1.581980e-16,1.438164e-16,-2.741499e-17,2.876327e-17,3.235868e-17,0.0,0.0,...,0.0,0.0,-1.006715e-16,0.0,3.092052e-16,0.0,-1.438164e-17,2016-08-29 20:04:46.907020800,3.595409e-17,0.0
min,-6.592413e-01,-1.072051e+00,-1.809246e+00,-1.670879e+00,-1.789954e+00,-1.657850e+00,-1.028442e+00,-1.792421e+00,0.0,0.0,...,0.0,0.0,-6.578923e-01,0.0,-2.336292e+00,0.0,-9.241561e-01,2015-03-13 00:00:00,-1.419090e+00,0.0
25%,-6.592413e-01,-8.422054e-01,-3.250880e-01,-7.193697e-01,-7.843320e-01,-8.691731e-01,-1.028442e+00,-9.522238e-01,0.0,0.0,...,0.0,0.0,-5.663987e-01,0.0,-7.096668e-01,0.0,-9.241561e-01,2016-03-19 00:00:00,-6.979481e-01,0.0
50%,-6.592413e-01,-3.004261e-01,-3.250880e-01,-8.503000e-02,-6.603057e-02,3.217206e-02,2.039578e-01,-1.120263e-01,0.0,0.0,...,0.0,0.0,-5.663987e-01,0.0,-8.511725e-02,0.0,4.965856e-01,2016-09-08 00:00:00,2.319423e-02,0.0
75%,1.516895e+00,6.025392e-01,1.159070e+00,8.664795e-01,7.959311e-01,9.335172e-01,1.436357e+00,7.281711e-01,0.0,0.0,...,0.0,0.0,2.062139e-01,0.0,6.901321e-01,0.0,4.965856e-01,2017-02-28 00:00:00,7.443365e-01,0.0
max,1.516895e+00,2.851744e+00,1.159070e+00,1.817989e+00,1.945213e+00,1.722194e+00,1.436357e+00,2.408566e+00,0.0,0.0,...,0.0,0.0,4.109941e+00,0.0,2.471497e+00,0.0,1.917327e+00,2017-09-06 00:00:00,2.186621e+00,0.0
std,1.000016e+00,1.000016e+00,1.000016e+00,1.000016e+00,1.000016e+00,1.000016e+00,1.000016e+00,1.000016e+00,0.0,0.0,...,0.0,0.0,1.000016e+00,0.0,1.000016e+00,0.0,1.000016e+00,NaN,1.000016e+00,0.0

In [137]:
# Robust Scaling
# Standard dan minmax bisa diimplementasikan saat data bersih tanpa outlier
# Robust scaling adalah cara scaling yang tidak perlu menghilangkan outlier

from sklearn.preprocessing import RobustScaler

robust_scale = RobustScaler()

In [138]:
df_robust_scaled = df_no_outlier.copy()
df_robust_scaled[numerical_cols] = robust_scale.fit_transform(df_no_outlier[numerical_cols])

In [139]:
df_robust_scaled.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,previous_bookings_not_canceled,booking_changes,agent,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests,reservation_status_date,total_night,Total Guest
count,31620.000000,31620.000000,31620.000000,31620.000000,31620.000000,31620.000000,31620.000000,31620.000000,31620.0,31620.0,...,31620.0,31620.0,31620.000000,31620.0,31620.000000,31620.0,31620.000000,31620,31620.000000,31620.0
mean,0.302941,0.207944,0.219039,0.053618,0.041785,-0.017847,-0.082748,0.066667,0.0,0.0,...,0.0,0.0,0.733095,0.0,0.060807,0.0,-0.349526,2016-08-29 20:04:46.907020800,-0.016082,0.0
min,0.000000,-0.534091,-1.000000,-1.000000,-1.090909,-0.937500,-0.500000,-1.000000,0.0,0.0,...,0.0,0.0,-0.118421,0.0,-1.608213,0.0,-1.000000,2015-03-13 00:00:00,-1.000000,0.0
25%,0.000000,-0.375000,0.000000,-0.400000,-0.454545,-0.500000,-0.500000,-0.500000,0.0,0.0,...,0.0,0.0,0.000000,0.0,-0.446171,0.0,-1.000000,2016-03-19 00:00:00,-0.500000,0.0
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,2016-09-08 00:00:00,0.000000,0.0
75%,1.000000,0.625000,1.000000,0.600000,0.545455,0.500000,0.500000,0.500000,0.0,0.0,...,0.0,0.0,1.000000,0.0,0.553829,0.0,0.000000,2017-02-28 00:00:00,0.500000,0.0
max,1.000000,2.181818,1.000000,1.200000,1.272727,0.937500,0.500000,1.500000,0.0,0.0,...,0.0,0.0,6.052632,0.0,1.826415,0.0,1.000000,2017-09-06 00:00:00,1.500000,0.0
std,0.459537,0.692175,0.673793,0.630587,0.632816,0.554735,0.405719,0.595108,0.0,0.0,...,0.0,0.0,1.294330,0.0,0.714400,0.0,0.703869,NaN,0.693355,0.0

In [141]:
# correlation Matrix
# .corr()
DataFrameNew[numerical_cols].corr()

,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests,total_night,Total Guest
is_canceled,1.000000,0.184772,0.088021,0.003735,0.001469,0.005317,0.060159,0.082886,0.081775,0.067355,...,0.051464,-0.052160,-0.093664,-0.000920,0.004461,0.127974,-0.184224,-0.120567,0.084059,0.100217
lead_time,0.184772,1.000000,0.139123,0.106216,0.101195,0.009852,0.235109,0.310088,0.140439,0.028630,...,0.005369,-0.078941,0.077005,0.080425,0.132151,0.023533,-0.086564,0.034213,0.318228,0.126681
arrival_date_year,0.088021,0.139123,1.000000,-0.499849,-0.514194,-0.010073,0.005127,0.003623,0.038573,0.041153,...,-0.054217,0.027255,0.008596,-0.001902,-0.027943,0.176063,-0.039816,0.064246,0.004607,0.050705
arrival_date_month,0.003735,0.106216,-0.499849,1.000000,0.995084,0.000827,0.027150,0.031778,0.027170,0.013659,...,0.007546,-0.021713,0.011751,0.020768,0.012763,0.103543,0.007330,0.049607,0.033754,0.031288
arrival_date_week_number,0.001469,0.101195,-0.514194,0.995084,1.000000,0.093641,0.026901,0.027842,0.024429,0.013464,...,0.007202,-0.020816,0.011919,0.019624,0.013847,0.098341,0.008959,0.046622,0.030735,0.029035
arrival_date_day_of_month,0.005317,0.009852,-0.010073,0.000827,0.093641,1.000000,-0.017801,-0.028216,-0.001143,0.015816,...,-0.008540,0.000150,0.006300,0.006122,0.006587,0.022597,0.009162,-0.001667,-0.027615,0.008120
stays_in_weekend_nights,0.060159,0.235109,0.005127,0.027150,0.026901,-0.017801,1.000000,0.555543,0.088232,0.028545,...,-0.020641,-0.056660,0.050297,0.158358,-0.031685,0.038926,-0.042938,0.032365,0.786258,0.087927
stays_in_week_nights,0.082886,0.310088,0.003623,0.031778,0.027842,-0.028216,0.555543,1.000000,0.095519,0.030458,...,-0.018788,-0.058513,0.085020,0.190033,0.001899,0.053285,-0.044327,0.037809,0.950575,0.095108
adults,0.081775,0.140439,0.038573,0.027170,0.024429,-0.001143,0.088232,0.095519,1.000000,0.023691,...,-0.042106,-0.120928,-0.048093,0.029570,-0.015746,0.248939,0.007780,0.112755,0.103930,0.804695
children,0.067355,0.028630,0.041153,0.013659,0.013464,0.015816,0.028545,0.030458,0.023691,1.000000,...,-0.019210,-0.029426,0.031304,0.042026,-0.020420,0.326302,0.036325,0.044590,0.033293,0.595117
babies,-0.020548,-0.003620,-0.023338,0.014119,0.014265,-0.000395,0.013663,0.016002,0.016634,0.017421,...,-0.005395,-0.009193,0.081032,0.028947,-0.006840,0.023444,0.030882,0.094821,0.016994,0.166136
is_repeated_guest,-0.089654,-0.147021,0.024339,-0.037727,-0.036853,-0.004181,-0.106963,-0.113562,-0.171739,-0.045656,...,0.206373,0.441455,0.006041,-0.065071,-0.012817,-0.153056,0.072015,-0.001326,-0.124333,-0.163514
previous_cancellations,0.051464,0.005369,-0.054217,0.007546,0.007202,-0.008540,-0.020641,-0.018788,-0.042106,-0.019210,...,1.000000,0.392064,-0.010271,-0.032910,0.003681,-0.050273,-0.003401,0.001869,-0.021670,-0.045007
previous_bookings_not_canceled,-0.052160,-0.078941,0.027255,-0.021713,-0.020816,0.000150,-0.056660,-0.058513,-0.120928,-0.029426,...,0.392064,1.000000,0.005417,-0.058040,-0.006304,-0.085730,0.040869,0.027110,-0.064641,-0.113582
booking_changes,-0.093664,0.077005,0.008596,0.011751,0.011919,0.006300,0.050297,0.085020,-0.048093,0.031304,...,-0.010271,0.005417,1.000000,0.022885,0.024202,0.002540,0.048709,0.016106,0.081962,-0.008376
agent,-0.000920,0.080425,-0.001902,0.020768,0.019624,0.006122,0.158358,0.190033,0.029570,0.042026,...,-0.032910,-0.058040,0.022885,1.000000,-0.015251,0.008541,0.121966,0.033160,0.200352,0.051583
days_in_waiting_list,0.004461,0.132151,-0.027943,0.012763,0.013847,0.006587,-0.031685,0.001899,-0.015746,-0.020420,...,0.003681,-0.006304,0.024202,-0.015251,1.000000,-0.033006,-0.016069,-0.049548,-0.010421,-0.025118
adr,0.127974,0.023533,0.176063,0.103543,0.098341,0.022597,0.038926,0.053285,0.248939,0.326302,...,-0.050273,-0.085730,0.002540,0.008541,-0.033006,1.000000,0.039111,0.137804,0.054134,0.386973
required_car_parking_spaces,-0.184224,-0.086564,-0.039816,0.007330,0.008959,0.009162,-0.042938,-0.044327,0.007780,0.036325,...,-0.003401,0.040869,0.048709,0.121966,-0.016069,0.039111,1.000000,0.048448,-0.048975,0.031402
total_of_special_requests,-0.120567,0.034213,0.064246,0.049607,0.046622,-0.001667,0.032365,0.037809,0.112755,0.044590,...,0.001869,0.027110,0.016106,0.033160,-0.049548,0.137804,0.048448,1.000000,0.040183,0.128085
total_night,0.084059,0.318228,0.004607,0.033754,0.030735,-0.027615,0.786258,0.950575,0.103930,0.033293,...,-0.021670,-0.064641,0.081962,0.200352,-0.010421,0.054134,-0.048975,0.040183,1.000000,0.103511
Total Guest,0.100217,0.126681,0.050705,0.031288,0.029035,0.008120,0.087927,0.095108,0.804695,0.595117,...,-0.045007,-0.113582,-0.008376,0.051583,-0.025118,0.386973,0.031402,0.128085,0.103511,1.000000